@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root{
    --bg-light: #f0f2fa;
    --bg-white: #f6f5ff;
    --text-dark: #0a0040;
    --color-primary: #6143ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: var(--text-dark);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-white);
}
