@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
    --bg-light: #d5daf0;
    --bg-white: #f6f5ff;
    --text-dark: #0a0040;
    --color-primary: #6143ff;
    --bg-alert:#e74c3c;
    --bg-success:#1abc9c;
    --bg-warning:#f39c12;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: var(--text-dark);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-white);
}
a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar {
    width: 100px;
    background-color: var(--color-primary);
}
.sidebar img {
    max-width: 100%;
}

.content {
}
nav {
    height: 100px;
    background-color: var(--bg-light);
    width: calc(100vw - 100px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.btn {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 0.9rem;
    margin-left: 10px;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--bg-light);
    transition: all ease 0.5s;
}
.btn-primary:hover {
    opacity: 0.7;
}

main {
    display: flex;
}

.graph {
    width: 33%;
    height: 100%;
    padding: 20px 20px 0 20px;
}

.graph_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graph_header h2 {
    font-size: 1.1rem;
}

.line_graph_header {
    flex: 1;
    height: 2px;
    margin: 0 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

.date_graph_header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.date_graph_header img {
    cursor: pointer;
}

.subtitle_graph_header {
    margin-top: 10px;
    font-size: 0.9rem;
}

.graph_body {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    background-image: url("/assets/images/graph.png");
    background-position: center;
    background-size: contain;
}
.graph_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.graph_footer p {
    font-size: 0.8rem;
    color: var(--text-dark);
}
.graph_footer img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.list {
    flex: 1;
    height: 100%;
    padding: 20px 20px 0 20px;
}
.list_header {
    display: flex;
}
.list_header_select {
    background-color: transparent;
    border: 1px solid var(--bg-light);
    border-radius: 5px;
    padding: 5px;
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-dark);
}

.task_list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--bg-light);
    transition: all ease 0.5s;
}

.task:hover {
    border-radius: 10px;
    background-color: var(--bg-light);
    -webkit-box-shadow: 5px 6px 10px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 6px 10px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 6px 10px -1px rgba(0, 0, 0, 0.75);
}

.task_title {
    display: flex;
    flex: 1;
}

.task_title span {
    margin-left: 10px;
    font-weight: 500;
    font-size: 1rem;
    /* transition: all ease .5s; */
}

.task_color {
    display: flex;
    align-items: center;
    flex: 1;
}
.task_color span {
    margin-left: 10px;
    font-size: 0.9rem;
    /* transition: all ease .5s; */
}

.priority_color {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}

.task_buttons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    transition: all ease 0.5s;
}
.task_buttons a {
    margin-right: 10px;
    padding: 0 5px;
}
.task_buttons a:hover {
    transform: scale(1.2);
}
.task_buttons a img {
    width: 20px;
    height: 20px;
}

.form-container {
    width: 700px;
    margin: 20px auto;
    background-color: var(--bg-white);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.form-container h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.form-container label,
.form-container input,
.form-container textarea,
.form-container select {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    color: var(--text-dark);
}
.form-container label{
    font-weight: 500;
}

.form-container input,
.form-container textarea,
.form-container select {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
}

.form-container textarea {
    resize: vertical;
}

.form-container input[type="checkbox"] {
    display: inline;
    width: auto;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.form-container input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all ease .5s;
    font-weight: 500;
}

.form-container input[type="submit"]:hover {
    /* background-color: #45a049; */
    opacity: .7;
    color: #0a0040;
}

.form-container .row {
    display: flex;
}

.form-container .row .col-50 {
    width: 50%;
    padding-right: 10px;
}

.content-alerts{
    display: block;
    width: 100%;
    margin: 10px 0;
}

.alert-danger{
    background-color: var(--bg-alert);
    color: var(--bg-white);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}

.alert-success{
    background-color: var(--bg-success);
    color: var(--bg-white);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}

.list-group {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-group-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

/* Estilo para os elementos com erro */
.error-item {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
    border-radius: 5px;
}