@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
    --bg-light: #d5daf0;
    --bg-white: #f6f5ff;
    --text-dark: #0a0040;
    --color-primary: #6143ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: var(--text-dark);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-white);
}
a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar {
    width: 100px;
    background-color: var(--color-primary);
}
.logo {
    width: 50px;
    height: 50px;
    margin: 10px auto;
    background-color: var(--bg-white);
    border-radius: 10px;
}
.content {
}
nav {
    height: 100px;
    background-color: var(--bg-light);
    width: calc(100vw - 100px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.btn {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 0.9rem;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--bg-light);
}

main {
    display: flex;
    padding: 20px;
}

.graph {
    width: 33%;
    height: 100%;
    padding: 5px;
}
.graph_header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.line_graph_header {
    flex: 1;
    width: 50px;
    height: 2px;
    padding: 0 10px;
}
.subtitle_graph_header {
    margin-top: 10px;
    font-size: 0.9rem;
}

.graph_body {
    background-color: #ccc;
    width: 300px;
    height: 300px;
    margin: 20px auto;
}
.graph_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.graph_footer p {
    font-size: 0.8rem;
    color: var(--text-dark);
}

.list {
    flex: 1;
    height: 100%;
    padding: 5px 10px;
}
.list_header {
    display: flex;
}
.list_header_select {
}

.task_list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--bg-light);
    transition: all ease 0.5s;
}

.task:hover {
    border-radius: 10px;
    background-color: var(--bg-light);
}


.task_title {
    display: flex;
    flex: 1;
}

.task_title span {
    margin-left: 10px;
    font-weight: 500;
    font-size: 1rem;
    /* transition: all ease .5s; */
}

.task_color {
    display: flex;
    align-items: center;
    flex: 1;
}
.task_color span {
    margin-left: 10px;
    font-size: 0.9rem;
    /* transition: all ease .5s; */
}

.priority_color {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}

.task_buttons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
